@font-face {
  font-family: "Mabry Pro";
  src: url("../assets/fonts/MabryPro.otf") format("opentype");
}

@font-face {
  font-family: "Hands";
  src: url("../assets/fonts/HandsUp.otf") format("opentype");
}
